<div class="uk-grid-column-auto uk-grid-row-large uk-child-width-auto@s uk-text-center uk-width-*" uk-grid>
  <article class="uk-comment uk-comment-primary uk-margin uk-border-rounded">
    <header class="uk-comment-header">
      <div class="uk-grid-medium uk-flex-middle "  uk-grid>
        <div class="uk-width-expand">
          <h4 class="uk-comment-title uk-margin-remove"> <a href="/post/{{id}}" target="_blank">{{title}}</a></h4>
          <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
            <li>by {{user.username}} on {{format_date created_at}}</li>
            <li><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div class="uk-comment-body ">
      <span>{{content}}</span>
      
    </div>
    <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>

  </article>
</div>